// Bulma initial
$gap: 20px;
$tablet: 769px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);

// Bulma container
$container-max-width: $fullhd;
$container-padding: 15px;
$container-offset: (2 * $gap) - (2 * $container-padding);

// Bulma section
$section-padding: rem(20) 0;
$section-padding-desktop: rem(40) 0;
$section-padding-medium: rem(60) 0;
$section-padding-large: rem(80) 0;

// Fonts
$font-name: 'Comfortaa';
$font-path-name: $font-name;

// Colors
$color-primary: #ff8a65;
$color-bg: #fafafa;
$color-bg-primary: #fff3e0;
$color-bg-secondary: #e0e0e0;
$color-text: #37474f;
$color-text-light: #ffffff;
$color-text-secondary: #757575;
$color-border: #bdbdbd;
$shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
