@import 'src/styles/includes';

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $color-bg;
}

.button {
  @include trans;
  display: block;
  width: 100%;
  padding: rem(10) 0 rem(5);
  border-bottom: rem(5) solid transparent;

  @include hf {
    .text {
      text-decoration: underline;
    }
  }

  &.active {
    border-bottom-color: $color-primary;

    .icon svg,
    .text {
      color: $color-primary;
    }
  }
}

.icon {
  margin-bottom: rem(6);

  svg {
    font-size: rem(20);
    color: $color-text;
  }
}

.text {
  text-transform: uppercase;
  color: $color-text;
}
